<!DOCTYPE html>
<html>
  <head>
    <title>Gotcha Workshop</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>Building an iOS App with a Supporting API Workshop</h1>
    <h3>Gotcha. Gotcha Where I Want `Cha</h3>
    <h2>What's That?</h2>
    <p>Gotcha is an iPhone application and we'd like to share with you how we built it.</p>
    <p>
      We spent several months creating an iOS application that is supported by an API with several purposes in mind.
    </p>
    <ol>
      <li>We wanted to build an application we can use to teach others who wanted to learn how to build full stack mobile clients</li>
      <li>We wanted to this application to exist</li>
      <li>We wanted to create a "real-world" application that can be used to show off how to build complicated features</li>
    </ol>
    <p>
      Gotcha is an iPhone application that pairs two random players within a geofenced "arena" by sending them each push notifications with their opponent's name and photo. Those two players are then directed to find each other within the "arena" and exchange a secret code to prove that they have met each other.
    </p>
    <p>
      We built Gotcha so that it can help people meet each other in real life in a world that is increasingly becoming a virtual-first planet. We thought it would be a nice experiment at conferences to help increase engagement.
    </p>
    <p>
      There is some pretty neat technology behind the application and we want to show you how it was built.
    </p>
    <h2>What You Could Learn</h2>
    <h2>Who's Behind This?</h2>
    <h2>Prerequisites</h2>
    <h2>FAQ</h2>
  </body>
</html>
